@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;900&display=swap');

*{
    font-family: "Inter";
}

.logo-fundo{
    background: url(img/familia.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
    
}
.logo-fundo h2{
    padding-top: 200px;
    color: #ffffff;
    font-size: 30px;
    font-weight: bolder;
}

main{
    margin-left: 5%;
}
.rj img{
    width: 95%;
    height: 300px;
    background-size: cover;
    background-position: center;
}
